@use '../../../../styles/base/variables' as *;

.geoquizz__answer-world {
    width: 100%;
    max-height: 400px;

    path {
        outline: none;
        fill: $secondary;
        stroke: #fff;
        stroke-width: .4px;
    }

    &:not(&--disabled) path:hover {
        fill: $primary;
    }
}