@use '../../styles/base/variables' as *;

.countdown {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, $gray, transparentize($primary, .2));
    backdrop-filter: blur(10px);
    z-index: 9;

    &::before {
        content: '';
        display: block;
        background-image: url('../../assets/radial-stripes.svg');
        background-position: center;
        background-repeat: no-repeat;
        height: 70%;
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: rotate 60s infinite linear;
    }

    &__timer {
        position: absolute;
        top: 50%;
        left: 50%;
        
        font-weight: 900;
        font-size: 12rem;
        background: linear-gradient(45deg, #fff, transparentize(#fff, .2));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #bb3fdd;
        -webkit-filter: drop-shadow(0 10px rgb(0, 0, 0, .4));
        filter: drop-shadow(0 10px rgb(0, 0, 0, .4));
    }
}

@keyframes rotate {
    from { transform:translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
}