.switch {
    cursor: pointer;
    width: 4rem;
    height: 2rem;
    border-radius: 10px;
    background-color: $gray;
    padding: 5px;
    transition: background-color .2s;

    &:hover {
        background-color: $dark;
    }

    &__label {
        content: '';
        display: block;
        height: 100%;
        width: 50%;
        border-radius: inherit;
        background-color: $error;
        cursor: inherit;
        transition: all .2s;
    }

    input {
        display: none;

        &:checked ~ .switch__label {
            margin-left: auto;
            background-color: $success;
        }
    }
}