@use '../../styles/base/variables' as *;

.account {
    background: $gray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;

    &__thumbnail {
        border-radius: 10px;
        width: 80px;
        margin-right: 1rem;
    }
}