.account {
    background: linear-gradient(45deg, rgba(18, 18, 31, .6), rgba(60, 60, 97, .3) );
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;

    &__thumbnail {
        border-radius: 10px;
        width: 80px;
        margin-right: 1rem;
    }
}