.kculture__answer-order {
    margin-top: 1.5rem;
    display: flex;
    gap: 20px;

    &__item {
        flex-grow: 1;
        text-align: center;
        position: relative;
        max-height: 150px;
        border: 2px dotted #343343;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            user-select: none;
        }
        
        &:after {
            content: attr(data-index);
            position: absolute;
            top: 20px;
            right: 20px;
            font-weight: 600;
            color: #fb6da9;
            background-color: #ffffff;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            border-radius: 5px;
            text-align: center;
        }

        &--correct {
            border-color: #71BC78;
            background: linear-gradient(135deg, #71BC78, transparent);
        }

        &--wrong {
            border-color: #fb6da9;
            background: linear-gradient(135deg, #fb6da9, transparent);
        }
    }
}