@use '../../styles/base/variables' as *;

.kculture {

    &__time {
        width: 55px;
        height: 55px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        border: 2px solid $gray;
        border-radius: 10px;
        aspect-ratio: 1/1;
        --progress: 50%;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -2px; left: -2px; bottom: -2px; right: -2px;
            border: inherit;
            border-color: #fff;
            border-radius: inherit;
            clip-path: inset(var(--progress) 0 0 0);
            transition: clip-path .1s;
        }
    }

    &__step {
        height: 5px;
        border-radius: 2px;
        background-color: $gray;
        margin-bottom: .5rem;
        opacity: .6;

        &__progress {
            height: 100%;
            border-radius: inherit;
            background-color: $secondary;
            transition: width .4s;
        }
    }

    &__answer {
        margin-top: 1.5rem;
        position: relative;

        &__label {
            display: block;
            margin-bottom: .75rem;
        }
    }

    &__answer {
        margin-top: 1rem;

        &__username {
            margin-bottom: 1rem;
        }
    }

    &__results {
        margin-top: 1.5rem;

        &__switch {
            position: absolute;
            right: 20px;
            top: 0;
        }

        h3 {
            line-height: 2rem;
        }

        &__item {
            position: relative;
            
            border: 2px solid $gray;
            border-radius: 10px;
            padding: 20px;

            &:not(:first-of-type) {
                margin-top: 20px;
            }
        }
    }
}