.kculture__answer-scattergory {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    gap: 20px;

    .input-group {
        margin-top: 0;
    }
}